/***************************
        공통 변수 관련
***************************/

//일반 색상 / $color- ~~~
$color-primary: #733ff3;

$color-black1: #333333;
$color-black2: #131313;

$color-white1: #ffffff;

$color-gray1: #f6f8fa;
$color-gray2: #e3e8ed;
$color-gray3: #e2e2e2;
$color-gray4: #eeeeee;
$color-gray5: #F5F5F5;
$color-gray6: #aaaaaa;
$color-gray7: #F1F1F1;

// 폰트 색상 / $font- ~~~
$font-default: #333333;

$font-white1 : #FFFFFF;

$font-gray1: #808080;
$font-gray2: rgba(255 255 255 / 27%);
$font-gray3: #BBBBBB;
