.property-info {
    padding-top: 30px;

    dt {
        font-size: 30px;
        font-weight: 700;
    }
    dd {
        padding-top: 20px;
        color: $font-gray1;
        line-height: 2;
        margin-bottom: 100px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
